@model ContosoUniversity2.Models.Seminar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Seminar Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeminarTime)
        </dd>
        <dt>
            Seminar Length
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeminarLength)
        </dd>
        <dt>
            Course
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt>
            Students
        </dt>
        <dd>
            @{
                foreach (var student in Model.Students)
                {
                    @student.FullName <br />
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
