@model ContosoUniversity2.Models.Seminar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeminarTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeminarTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeminarLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeminarLength)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeminarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
