@model IEnumerable<ContosoUniversity2.Models.Seminar>

@{
    ViewBag.Title = "Seminars";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeminarTime)
        </th>
        <th>
            Seminar Length
        </th>
        <th>
            Students
        </th>
        <th>
            Instructor 
        </th>
        <th>
            Location
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeminarTime)
        </td>

        @* Check here if the seminar lasts for an hour or not to get plural correct *@
        @if (item.SeminarLength == 1)
        {
            <td>
                @Html.DisplayFor(modelItem => item.SeminarLength) Hour
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.SeminarLength) Hours
            </td>
        }

        <td>
            @{
                foreach (var student in item.Students)
                {
                    @student.FullName <br />
                }
            }
        </td>

        @* If there is no instructor assigned yet; make the text red 
           TODO: Create a ViewModel and move this logic out into controller, same below *@
        @if (item.Instructor == null)
       
        {
            <td>
                    <font color="red">@Html.DisplayFor(modelItem => item.Instructor.FullName)</font>
            </td>
        }
        else
        {
            <td>
               @Html.DisplayFor(modelItem => item.Instructor.FullName)
            </td>
        }

        @* If there is no location assigned yet; make the text red *@
        @if (item.Location == null)

        {
            <td>
                <font color="red">@Html.DisplayFor(modelItem => item.Location)</font>
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
        }


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeminarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeminarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeminarID })
        </td>
    </tr>

}

</table>

