@model IEnumerable<ContosoUniversity2.Models.Seminar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeminarTime)
        </th>
        <th>
            Seminar Length
        </th>
        <th>
            Students
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeminarTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeminarLength) Hours
        </td>
        <td>
            @{
                foreach (var student in item.Students)
                {
                    @student.FullName <br />
                }
            }
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeminarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeminarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeminarID })
        </td>
    </tr>
}

</table>
